/** ------------------ start global transfer styles ---------------------- **/

.custom-modal
{
    .ant-modal-body
    {
        max-height: 550px;
    }
}


.data-header
{
    background: #FAFAFA;
    
    .ant-col
    {
        border: 1px solid #F0F0F0;
        padding: 5px;

        h4 {
            margin-bottom: 0px;
        }
    }
}

.data-body
{
    .ant-form-item
    {
        margin-bottom: 0px;
    }

    .ant-col {

        border: 1px solid #F0F0F0;

        .ant-form-item-control
        {
            border: none;
        }

        .ant-row.ant-form-item 
        {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.data-icons-row
{
    margin-top: 5px;
}

.data-column
{
    margin-top: 20px;
}

.float-right
{
    float: right;
}

.btn-padding
{
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
}

.btn-green
{
    border-radius: 32px;
}

.btn-red
{
    border-radius: 32px;
}

/** ------------------ end global transfer styles ---------------------- **/

/** ------------------ start step 2 ---------------------- **/

.multi-step-table
{
    .ant-form-item
    {
       margin-bottom: 0px;

        .ant-input-number
       {
          width: 50%;  
       } 
    }
}

/** ------------------ end step 2 ---------------------- **/

/** ------------------ start step 3 ---------------------- **/

.row-padding-15px
{
   padding: 15px;
   padding-top: 0px;
}

.exchange-header
{
    padding: 8px;
}

.exchange-dark-pink
{
    background: @primary-color;
    
    h4 {
        color: #ffffff;
        margin-bottom: 0px;
    }
}

.custom-card
{
    .ant-card-head
    {
        background: @primary-color;
        color: #fff;
    }

    .ant-card-head-title {
        
        padding: 8px 0;
    }

    .ant-card-body
    {
        border: 1px dotted @primary-color;

        .payment-title
        {
            background: #FAFAFA;
            border: 1px solid #F0F0F0;
            margin-bottom: 0px;
            padding: 8px;
        }

        .ant-card-grid
        {
            width: 100%;
            padding: 10px;
        }

        .exchange-col
        {
            .ant-card-grid
            {
                padding: 5px;
            }
        }
    }
}

.select-payment
{
    .ant-card-head
    {
        background: @secondary-color;
        color: #fff;
    }

    .ant-card-head-title {

        padding: 8px 0;
    }

    .ant-card-body
    {
        border: 1px dotted @secondary-color;
    }
}

.exchange-payments
{
    width: 100%;

    .ant-card-head-title
    {
        padding: 8px 0px;
        margin-bottom: 0px;
        
    }
}

.transfer-icon
{
    font-size: 130px;
    margin: 0 auto;
    display: table;
    margin-top: 70px;
    color: @primary-color;
}

.exchange-icon
{
    background: @secondary-color;
    border-color: @secondary-color;
    color: #fff;

    &:hover
    {
        background: #ffffff;
        border-color: @secondary-color;
        color: @secondary-color;
    }
}

/** ------------------ end step 3 ---------------------- **/

/** ------------------ start step 4 ---------------------- **/

.form-area
{
    .ant-form-item
    {
        margin-bottom: 10px;
    }
}

.custom-sub-form
{
    width: 100%;
}

.ant-picker
{
    width: 100%;
}

.large-icon
{
    font-size: 120px !important;
}

/** ------------------ end step 4 ---------------------- **/

/** ------------------ start mobile responsiveness ---------------------- **/

@media(max-width: 767px)
{
    .ant-card-body {
    
        padding: 10px;
    
    }

    .transfer-icon
    {
       margin-top: unset;     
    }
}

/** ------------------ end mobile responsiveness ---------------------- **/